@if (memberService.member(); as member) {
  <div class="flex flex-col gap-3">
    <div class="flex gap-3">
      <span class="font-semibold" i18n>Member since:</span>
      <span>{{member.created | date: 'longDate'}}</span>
    </div>
    <div class="flex gap-3">
      <span class="font-semibold" i18n>Last active:</span>
      <span>{{member.lastActive | timeAgo}}</span>
    </div>
    <h3 class="text-lg font-semibold text-primary" i18n>About {{member.displayName}}</h3>
    @if (memberService.editMode()) {
      <form #editForm="ngForm" (ngSubmit)="updateProfile()" class="flex flex-col w-full gap-4">
        <label class="floating-label">
          <span i18n>Display name</span>
          <input 
            name="displayName" 
            [(ngModel)]="editableMember.displayName"
            class="input w-full"
            placeholder="Display name"
          />
        </label>
        <label class="floating-label">
          <span i18n>Description</span>
          <textarea 
            name="description" 
            [(ngModel)]="editableMember.description"
            class="textarea w-full"
            placeholder="Description"
          ></textarea>
        </label>
        <label class="floating-label">
          <span i18n>City</span>
          <input 
            name="city" 
            [(ngModel)]="editableMember.city"
            class="input w-full"
            placeholder="City"
          />
        </label>
        <label class="floating-label">
          <span i18n>Country</span>
          <input 
            name="country" 
            [(ngModel)]="editableMember.country"
            class="input w-full"
            placeholder="Country"
          />
        </label>
        <div class="flex self-end">
          <button 
            class="btn btn-success" 
            type="submit"
            [disabled]="!editForm.dirty"
            i18n
          >
            Submit
          </button>
        </div>
      </form>
    } @else {
      <div>{{member.description || 'No description provided yet'}}</div>
    }
  </div>
}
