<div class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
  <div class="card-title justify-center text-3xl text-primary mt-14" i18n>Sign up</div>
  <div class="card-body w-full">

    <ul class="steps">
      <li class="step step-primary" i18n>Credentials</li>
      <li class="step" [class.step-primary]="currentStep() === 2" i18n>Profile</li>
    </ul>

    @if (currentStep() === 1) {
      <form [formGroup]="credentialsForm" class="flex flex-col gap-4 w-full steps">
        <app-text-input label="Email" formControlName="email" class="mt-2" />
        <app-text-input label="Display name" formControlName="displayName" />
        <app-text-input label="Password" formControlName="password" type="password" />
        <app-text-input label="Confirm password" formControlName="confirmPassword" type="password" />
        <div class="flex items-center justify-end gap-3">
          <button class="btn" (click)="cancel()" type="button" i18n>Cancel</button>
          <button 
            (click)="nextStep()"
            [disabled]="!credentialsForm.valid" 
            class="btn btn-primary" 
            type="button"
            i18n
          >
            Next
          </button>
        </div>
      </form>
    }

    @if (currentStep() === 2) {
      <form [formGroup]="profileForm" class="flex flex-col w-full gap-4 steps">
        
        <div class="flex items-center gap-4">
          <div class="font-semibold" i18n>Gender: </div>
          <label class="flex gap-3 items-center">
            <span i18n>Male</span>
            <input type="radio" formControlName="gender" value="male" class="radio radio-primary">
          </label>
          <label class="flex gap-3 items-center">
            <span i18n>Female</span>
            <input type="radio" formControlName="gender" value="female" class="radio radio-primary">
          </label>
        </div>

        <app-text-input 
          label="Date of birth" 
          i18n-label="@@dateOfBirth"
          type="date" 
          formControlName="dateOfBirth"
          [maxDate]="getMaxDate()"
        />
        <app-text-input i18n-label="@@city" label="City" formControlName="city" class="mt-2" />
        <app-text-input i18n-label="@@country" label="Country" formControlName="country" class="mt-2" />

        <div class="flex items-center justify-end gap-3">
          <button class="btn" (click)="prevStep()" type="button" i18n>Back</button>
          <button 
            (click)="register()"
            [disabled]="!profileForm.valid" 
            class="btn btn-primary" 
            type="button"
            i18n
          >
            Register
          </button>
        </div>
      </form>
    }
  </div>

  @if (validationErrors().length > 0) {
    <div class="mt-5 flex bg-gray-200 rounded-2xl w-1/2 p-3 mx-auto">
      <ul class="flex flex-col text-error space-y-1">
        @for (error of validationErrors(); track $index) {
          <li>{{error}}</li>
        }
      </ul>
    </div>
  }

</div>
